<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MondoDB - 1-4</title>
    <style>
        body {
            font-family: 'Helvetica', 'Arial', sans-serif;
        }
    </style>
</head>

<body>

    <h1>Movies</h1>
    <hr>
    <a href="http://localhost:3000/add_movie">New movie</a>
    <hr>
    {% for movie in movies %}
    <li><a href="http://www.imdb.com/title/{{ movie.imdb }}">{{ movie.title }}, {{ movie.year }}</a></li>
    {% else %}
    <li>No movies found.</li>
    {% endfor %}

</body>

</html>